body {
  font-family: 'Raleway'; }

.navbar {
  margin-bottom: 0px;
  background-color: #fff;
  font-size: 11px; }
  .navbar img {
    width: 20%; }

ul li a {
  color: #666666;
  font-size: 11px; }
ul.double {
  background-color: #292929;
  width: 300px; }
  ul.double li {
    float: left;
    width: 50%; }
    ul.double li a {
      color: #fff; }

.container-fluid {
  padding: 0; }
  .container-fluid .imgContainer {
    width: 100% \9;
    height: 100vh;
    width: 100%; }
  .container-fluid #videoButton {
    position: relative;
    float: initial;
    margin: -85vh auto 15vh auto;
    color: #fff;
    width: initial; }
    .container-fluid #videoButton .bigFont {
      font-size: 56px; }
      .container-fluid #videoButton .bigFont .playcircle {
        width: 20%; }
    .container-fluid #videoButton .littleFont {
      font-size: 12px; }
    .container-fluid #videoButton .cursor {
      cursor: pointer; }

.content2 {
  width: 80%;
  margin: 10vh auto 0 auto; }
  .content2 div {
    padding: 20px;
    margin-right: 20px;
    text-align: center; }
    .content2 div p {
      padding-bottom: 20px;
      color: #292929; }
    .content2 div button {
      background-color: green;
      color: #fff;
      border-radius: 0;
      border: none;
      font-size: 16px;
      text-align: center; }
    .content2 div .tittle {
      font-size: 16px;
      color: #292929; }
    .content2 div .price {
      font-size: 80px; }
    .content2 div .month {
      font-size: 16px;
      color: #666666; }
    .content2 div .features {
      padding-top: 20px;
      font-size: 13px; }
      .content2 div .features b {
        color: #666666; }
  .content2 .highlighted {
    background-color: green !important;
    color: #fff !important; }
    .content2 .highlighted p {
      color: #fff; }
      .content2 .highlighted p b {
        color: #fff; }
    .content2 .highlighted button {
      border: 1px solid #fff; }
  .content2 .middle {
    background-color: lightgrey; }

.tittle {
  font-size: 24px;
  color: #292929; }

.subtittle {
  font-size: 16px;
  color: #666666;
  padding-bottom: 30px; }

.content3 {
  position: relative;
  float: initial;
  margin: -85vh auto 15vh auto;
  color: #fff;
  width: 80%; }
  .content3 .tittle {
    color: #fff;
    font-size: 40px; }
  .content3 .subtittle {
    color: #fff;
    font-size: 16px; }
  .content3 .boxes {
    padding: 20px;
    background-color: rgba(41, 41, 41, 0.5);
    margin-right: 20px; }
    .content3 .boxes .tittle {
      color: #fff;
      font-size: 16px; }
    .content3 .boxes .text {
      color: #fff;
      font-size: 13px; }
    .content3 .boxes .icon {
      -webkit-filter: invert(100%);
      filter: invert(100%);
      width: 70px;
      padding-bottom: 10px; }

.content4 {
  margin-top: 28vh; }
  .content4 div {
    padding: 0; }
  .content4 .form {
    padding: 5%; }
    .content4 .form P {
      color: #292929;
      font-size: 12px; }
    .content4 .form .inputs {
      background-color: lightgrey;
      border-radius: 0;
      margin-bottom: 10px;
      color: #666666;
      font-size: 13px; }
    .content4 .form button {
      font-size: 11px;
      border-radius: 0;
      color: #fff;
      background-color: green;
      height: 50px;
      width: 100%; }
  .content4 #map {
    width: 100%; }

.footer {
  background-color: #292929; }
  .footer .content {
    margin: 50px auto 0 auto;
    width: 80%;
    color: #fff;
    font-size: 16px; }
    .footer .content img {
      margin-left: 20px;
      width: 100px;
      margin-bottom: 40px; }
    .footer .content .social {
      vertical-align: middle;
      padding-left: 100px; }
      .footer .content .social p {
        margin-left: 20px; }
      .footer .content .social img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        width: 20px; }

/*# sourceMappingURL=styles.css.map */
